@import "tailwindcss";
@plugin "daisyui";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000; /* Pure black background */
  color: white; /* Default text color white */
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #020205; /* Black background default */
}

@keyframes shimmer {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}

.animate-shimmer {
  background-size: 200% auto;
  animation: shimmer 4s linear infinite;
}

/* Underline Animation */
.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #ff8c00);
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}

